In [11]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('Resources/HR-Employee-Attrition.csv')
attrition_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [12]:
# Generate our categorical variable list
attrition_cat = attrition_df.dtypes[attrition_df.dtypes == "object"].index.tolist()

In [13]:
# Check the number of unique values in each column
attrition_df[attrition_cat].nunique()

Attrition         2
BusinessTravel    3
Department        3
EducationField    6
Gender            2
JobRole           9
MaritalStatus     3
Over18            1
OverTime          2
dtype: int64

In [14]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(attrition_df[attrition_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(attrition_cat)
encode_df.head()

/Users/chloeittel/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [15]:
# Merge one-hot encoded features and drop the originals
attrition_df = attrition_df.merge(encode_df,left_index=True, right_index=True)
attrition_df = attrition_df.drop(attrition_cat,1)
attrition_df.head()

/Users/chloeittel/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_Y,OverTime_No,OverTime_Yes
0,41,1102,1,2,1,1,2,94,3,2,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
1,49,279,8,1,1,2,3,61,2,2,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,37,1373,2,2,1,4,4,92,2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
3,33,1392,3,4,1,5,4,56,3,1,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,27,591,2,1,1,7,1,40,3,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [16]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

/Users/chloeittel/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
# Split our preprocessed data into our features and target arrays
y = attrition_df["Attrition_Yes"].values
X = attrition_df.drop(["Attrition_Yes","Attrition_No"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

/Users/chloeittel/opt/anaconda3/envs/mlenv/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [18]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 8)                 448

 dense_4 (Dense)             (None, 5)                 45

 dense_5 (Dense)             (None, 1)                 6

=================================================================
Total params: 499
Trainable params: 499
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Train the model
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
35/35 [==============================] - 1s 3ms/step - loss: 365.7060 - accuracy: 0.8276
Epoch 2/100
35/35 [==============================] - 0s 3ms/step - loss: 151.1246 - accuracy: 0.8004
Epoch 3/100
35/35 [==============================] - 0s 3ms/step - loss: 29.1066 - accuracy: 0.7051
Epoch 4/100
35/35 [==============================] - 0s 2ms/step - loss: 11.3333 - accuracy: 0.7523
Epoch 5/100
35/35 [==============================] - 0s 3ms/step - loss: 6.2229 - accuracy: 0.7414
Epoch 6/100
35/35 [==============================] - 0s 3ms/step - loss: 3.9571 - accuracy: 0.7350
Epoch 7/100
35/35 [==============================] - 0s 3ms/step - loss: 2.8935 - accuracy: 0.7287
Epoch 8/100
35/35 [==============================] - 0s 3ms/step - loss: 3.1567 - accuracy: 0.7241
Epoch 9/100
35/35 [==============================] - 0s 3ms/step - loss: 2.6994 - accuracy: 0.7341
Epoch 10/100
35/35 [==============================] - 0s 3ms/step - loss: 2.4342 - accuracy: 0.7423
Epoch 11/100
35/35 [==============================] - 0s 3ms/step - loss: 2.7662 - accuracy: 0.7278
Epoch 12/100
35/35 [==============================] - 0s 3ms/step - loss: 1.9807 - accuracy: 0.7377
Epoch 13/100
35/35 [==============================] - 0s 4ms/step - loss: 2.5095 - accuracy: 0.7377
Epoch 14/100
35/35 [==============================] - 0s 3ms/step - loss: 1.7312 - accuracy: 0.7387
Epoch 15/100
35/35 [==============================] - 0s 4ms/step - loss: 1.7586 - accuracy: 0.7486
Epoch 16/100
35/35 [==============================] - 0s 3ms/step - loss: 2.0228 - accuracy: 0.7405
Epoch 17/100
35/35 [==============================] - 0s 3ms/step - loss: 1.3639 - accuracy: 0.7368
Epoch 18/100
35/35 [==============================] - 0s 5ms/step - loss: 1.3906 - accuracy: 0.7414
Epoch 19/100
35/35 [==============================] - 0s 3ms/step - loss: 1.7263 - accuracy: 0.7514
Epoch 20/100
35/35 [==============================] - 0s 4ms/step - loss: 1.1647 - accuracy: 0.7314
Epoch 21/100
35/35 [==============================] - 0s 3ms/step - loss: 1.1916 - accuracy: 0.7305
Epoch 22/100
35/35 [==============================] - 0s 5ms/step - loss: 0.9961 - accuracy: 0.7505
Epoch 23/100
35/35 [==============================] - 0s 3ms/step - loss: 1.1224 - accuracy: 0.7387
Epoch 24/100
35/35 [==============================] - 0s 4ms/step - loss: 1.3220 - accuracy: 0.7305
Epoch 25/100
35/35 [==============================] - 0s 4ms/step - loss: 1.0761 - accuracy: 0.7350
Epoch 26/100
35/35 [==============================] - 0s 3ms/step - loss: 1.1270 - accuracy: 0.7414
Epoch 27/100
35/35 [==============================] - 0s 3ms/step - loss: 0.8988 - accuracy: 0.7396
Epoch 28/100
35/35 [==============================] - 0s 4ms/step - loss: 0.8900 - accuracy: 0.7486
Epoch 29/100
35/35 [==============================] - 0s 5ms/step - loss: 0.8008 - accuracy: 0.7477
Epoch 30/100
35/35 [==============================] - 0s 4ms/step - loss: 0.9078 - accuracy: 0.7495
Epoch 31/100
35/35 [==============================] - 0s 4ms/step - loss: 0.9162 - accuracy: 0.7532
Epoch 32/100
35/35 [==============================] - 0s 4ms/step - loss: 0.9512 - accuracy: 0.7323
Epoch 33/100
35/35 [==============================] - 0s 3ms/step - loss: 0.7051 - accuracy: 0.7695
Epoch 34/100
35/35 [==============================] - 0s 2ms/step - loss: 0.7212 - accuracy: 0.7641
Epoch 35/100
35/35 [==============================] - 0s 3ms/step - loss: 0.7008 - accuracy: 0.7595
Epoch 36/100
35/35 [==============================] - 0s 2ms/step - loss: 0.9002 - accuracy: 0.7577
Epoch 37/100
35/35 [==============================] - 0s 3ms/step - loss: 0.8224 - accuracy: 0.7550
Epoch 38/100
35/35 [==============================] - 0s 3ms/step - loss: 1.2666 - accuracy: 0.7341
Epoch 39/100
35/35 [==============================] - 0s 3ms/step - loss: 0.7276 - accuracy: 0.7613
Epoch 40/100
35/35 [==============================] - 0s 3ms/step - loss: 0.6968 - accuracy: 0.7595
Epoch 41/100
35/35 [==============================] - 0s 2ms/step - loss: 0.9077 - accuracy: 0.7459
Epoch 42/100
35/35 [==============================] - 0s 3ms/step - loss: 0.7526 - accuracy: 0.7441
Epoch 43/100
35/35 [==============================] - 0s 3ms/step - loss: 0.6727 - accuracy: 0.7677
Epoch 44/100
35/35 [==============================] - 0s 3ms/step - loss: 0.8294 - accuracy: 0.7459
Epoch 45/100
35/35 [==============================] - 0s 3ms/step - loss: 0.8779 - accuracy: 0.7641
Epoch 46/100
35/35 [==============================] - 0s 3ms/step - loss: 1.0395 - accuracy: 0.7495
Epoch 47/100
35/35 [==============================] - 0s 3ms/step - loss: 0.6507 - accuracy: 0.7595
Epoch 48/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5787 - accuracy: 0.7768
Epoch 49/100
35/35 [==============================] - 0s 3ms/step - loss: 0.6466 - accuracy: 0.7804
Epoch 50/100
35/35 [==============================] - 0s 3ms/step - loss: 0.8500 - accuracy: 0.7468
Epoch 51/100
35/35 [==============================] - 0s 3ms/step - loss: 1.0533 - accuracy: 0.7432
Epoch 52/100
35/35 [==============================] - 0s 3ms/step - loss: 0.7195 - accuracy: 0.7468
Epoch 53/100
35/35 [==============================] - 0s 4ms/step - loss: 0.5989 - accuracy: 0.7686
Epoch 54/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5767 - accuracy: 0.7913
Epoch 55/100
35/35 [==============================] - 0s 3ms/step - loss: 0.7698 - accuracy: 0.7595
Epoch 56/100
35/35 [==============================] - 0s 3ms/step - loss: 0.7428 - accuracy: 0.7641
Epoch 57/100
35/35 [==============================] - 0s 3ms/step - loss: 0.6223 - accuracy: 0.7849
Epoch 58/100
35/35 [==============================] - 0s 3ms/step - loss: 0.6529 - accuracy: 0.7740
Epoch 59/100
35/35 [==============================] - 0s 3ms/step - loss: 0.9248 - accuracy: 0.7768
Epoch 60/100
35/35 [==============================] - 0s 3ms/step - loss: 0.8498 - accuracy: 0.7441
Epoch 61/100
35/35 [==============================] - 0s 3ms/step - loss: 0.6314 - accuracy: 0.7849
Epoch 62/100
35/35 [==============================] - 0s 3ms/step - loss: 0.6139 - accuracy: 0.7722
Epoch 63/100
35/35 [==============================] - 0s 3ms/step - loss: 0.6660 - accuracy: 0.7804
Epoch 64/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5531 - accuracy: 0.7822
Epoch 65/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5322 - accuracy: 0.7913
Epoch 66/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5944 - accuracy: 0.7895
Epoch 67/100
35/35 [==============================] - 0s 3ms/step - loss: 0.8320 - accuracy: 0.7450
Epoch 68/100
35/35 [==============================] - 0s 3ms/step - loss: 1.0205 - accuracy: 0.7459
Epoch 69/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5756 - accuracy: 0.8004
Epoch 70/100
35/35 [==============================] - 0s 3ms/step - loss: 0.6509 - accuracy: 0.7686
Epoch 71/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5650 - accuracy: 0.7922
Epoch 72/100
35/35 [==============================] - 0s 3ms/step - loss: 0.9192 - accuracy: 0.7840
Epoch 73/100
35/35 [==============================] - 0s 3ms/step - loss: 0.7757 - accuracy: 0.7668
Epoch 74/100
35/35 [==============================] - 0s 3ms/step - loss: 0.7187 - accuracy: 0.7886
Epoch 75/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5802 - accuracy: 0.7877
Epoch 76/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4740 - accuracy: 0.8203
Epoch 77/100
35/35 [==============================] - 0s 3ms/step - loss: 0.7822 - accuracy: 0.7659
Epoch 78/100
35/35 [==============================] - 0s 3ms/step - loss: 0.6020 - accuracy: 0.7849
Epoch 79/100
35/35 [==============================] - 0s 3ms/step - loss: 0.4944 - accuracy: 0.8040
Epoch 80/100
35/35 [==============================] - 0s 3ms/step - loss: 0.6087 - accuracy: 0.7967
Epoch 81/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5944 - accuracy: 0.7795
Epoch 82/100
35/35 [==============================] - 0s 3ms/step - loss: 1.0511 - accuracy: 0.7405

Epoch 83/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5318 - accuracy: 0.8131
Epoch 84/100
35/35 [==============================] - 0s 3ms/step - loss: 0.5426 - accuracy: 0.7849
Epoch 85/100
35/35 [==============================] - 0s 3ms/step - loss: 0.6176 - accuracy: 0.7877
Epoch 86/100
35/35 [==============================] - 0s 3ms/step - loss: 0.8819 - accuracy: 0.7495
Epoch 87/100
35/35 [==============================] - 0s 3ms/step - loss: 0.6709 - accuracy: 0.7768
Epoch 88/100
35/35 [==============================] - 0s 3ms/step - loss: 0.6390 - accuracy: 0.7849
Epoch 89/100
35/35 [==============================] - 0s 3ms/step - loss: 0.9879 - accuracy: 0.7514
Epoch 90/100
35/35 [==============================] - 0s 3ms/step - loss: 0.8572 - accuracy: 0.7650
Epoch 91/100
35/35 [==============================] - 0s 2ms/step - loss: 1.5103 - accuracy: 0.7260
Epoch 92/100
35/35 [==============================] - 0s 2ms/step - loss: 1.1863 - accuracy: 0.7414
Epoch 93/100
35/35 [==============================] - 0s 2ms/step - loss: 0.8230 - accuracy: 0.7613
Epoch 94/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5487 - accuracy: 0.7931
Epoch 95/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5229 - accuracy: 0.8022
Epoch 96/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5027 - accuracy: 0.8013
Epoch 97/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5385 - accuracy: 0.7931
Epoch 98/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6313 - accuracy: 0.7895
Epoch 99/100
35/35 [==============================] - 0s 2ms/step - loss: 0.5237 - accuracy: 0.8094
Epoch 100/100
35/35 [==============================] - 0s 2ms/step - loss: 0.6081 - accuracy: 0.7877